html,
body {
    margin: 0;
    border: 0;
    padding: 0;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img, .image {
    width: 100%;
}

body {
    display: flex;
    flex-flow: column;
    align-items: center;
}

h1, h2 {
    text-align: center;
}
